<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <meta charset="utf-8">
    <title>Acebook</title>
  </head>
  <body>
    <h1><img src="/images/ace-of-spades.png" height="46" width="46" alt="">Acebook</h1>
    <a href="/sign-up">Sign Up</a>
    <br>
    <a href="/sign-in">Sign In</a>
  </body>
</html>