<!DOCTYPE html>
<html>
  <head>
    <%- include('_head') %>
  </head>
  <body>
    <% include _logo.ejs %>
    <a href="/sign-up">Sign Up</a>
    <br>
    <a href="/sign-in">Sign In</a>
  </body>
</html>
