<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <meta charset="utf-8">
    <title>Acebook</title>
  </head>
  <body onload="updateTimes()">
    <h1><img src="/images/ace-of-spades.png" height="46" width="46" alt="">Acebook</h1>
    <form action="/newsfeed" method="post">
      <textarea id="create-content" rows="6" maxlength="1000" name="postContent" placeholder="Write something you fool!"></textarea>
      <input type="submit" name="submit">
    </form>

    <% include _posts.ejs %>

    <script src="https://cdn.jsdelivr.net/npm/moment@2.23.0/moment.min.js" type="text/javascript"></script>
    <script src="/js/updateTimes.js" type="text/javascript"></script>
  </body>
</html>
