<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <meta charset="utf-8">
    <title>Acebook</title>
  </head>
  <body>
    <h1>Acebook</h1>
    <img src="../public/images/ace-of-spades.png" alt="">
    <form action="/newsfeed" method="post">
      <input type="hidden" name="userId" value="3">
      <input id="create-content" type="text" name="postContent" value="" placeholder="Write something you fool!">
      <input type="submit" name="submit">
    </form>
  </body>
</html>
