<!DOCTYPE html>
<html>
  <head>
    <%- include('_head', {title: 'Sign In'}) %>
  </head>
  <body>
    <% include _logo.ejs %>
    <form action="/sign-in" method="post">
      <input type="email" name="email" placeholder="email" required><br>
      <input type="password" name="password" placeholder="password" required><br>
      <input type="submit" value="submit">
    </form>
  </body>
</html>

<% if (sessionFlash && sessionFlash.message) { %>
  <%= sessionFlash.message %>
<% } %>
