<!DOCTYPE html>
<html>
  <head>
    <%- include('_head', {title: 'Sign Up'}) %>
  </head>
  <body>
    <% include _logo.ejs %>
    <form action="/sign-up" method="post">
      <input type="text" name="firstName" placeholder="first name" required><br>
      <input type="text" name="lastName" placeholder="last name" required><br>
      <input type="email" name="email" placeholder="email" required><br>
      <input type="password" name="password" placeholder="password" required><br>
      <input type="date" name="dob" placeholder="dd/mm/yyyy" required><br>
      <input type="submit" name="submit">
    </form>
  </body>
</html>

<% if (sessionFlash && sessionFlash.message) { %>
  <%= sessionFlash.message %>
<% } %>
